@import 'globals';
@import 'animate';

@include chapter-colors;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    text-shadow: 0 0 2px black;
}

a {
    color: initial;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

header, section, footer {
    box-shadow: 0 20px 20px -20px rgba(0,0,0, 0.5) inset;

    .video-wrapper {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -1;

        video {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            min-height: 50%;
            min-width: 50%;
        }
    }
}

header, #table-of-contents, .chapter .intro, .chapter .story {
    position: relative;
    height: 100vh;
}

header {
    text-align: center;

    h1 {
        font-size: 5em;
        padding-top: 25vh;
        margin-top: 0;
    }

    .authors {
        font-size: 1.2em;
    }

    .description {
        margin: 2em 0;
    }

    .instructions {
        p {
            margin: 20% 0 0;
        }

        i {
            font-size: 3em;
        }
    }
}

nav#menu {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    background-color: transparent;
    padding: 2em;
    z-index: 500;

    &:hover {
        background-color: rgba(0,0,0, 0.8);
        @include chapter-colors;

        .chapter-title {
            display: inline;
        }
    }

    a {
        color: white;
    }

    .chapter-number {
        background-color: rgba(0,0,0, 0.2);
        margin-right: 0;
        margin-left: 0.5em;
    }

    .chapter-title {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1.5em;

        li {
            padding: 0.5em 0;
        }
    }
}

footer {
    text-align: center;
    padding: 2em;
    background-color: $PURPLE_DARK;

    .copyright {
        font-size: 0.8em;
    }
}

button.view-transcript {
    font-size: 1em;
    background-color: rgba(0,0,0, 0.7);
    padding: 0.7em;
    color: white;
    border: 1px solid rgba(255,255,255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
    margin: 0.7em;

    &:hover {
        background-color: rgba(0,0,0, 0.9);
        border-color: rgba(255,255,255, 0.9);
    }

    i {
        margin-right: 0.25em;
    }
}

.continue-arrow {
    font-size: 3em;
    line-height: 1;
    opacity: 0.5;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    animation: bounce 2s infinite;
}

.chapter-number {
    background-color: black;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5em;
    color: white;
    border: 1px solid rgba(255,255,255, 0.5);
}

.chapter {
    h2 {
        font-size: 3em;
    }

    .intro {
        padding: 5%;
        overflow: hidden;

        p {
            font-style: italic;
            width: 50%;
            line-height: 1.3;
        }
    }

    .story {
        background-color: white;
    }

    .slider {
        &:hover .flex-prev { opacity: 0.7; left: 10px; }
        &:hover .flex-next { opacity: 0.7; right: 10px; }

        li {
            background-color: white;
        }

        img {
            max-width: 100%;
            max-height: calc(100vh - 60px);
            height: auto;
            padding: 2em 3em 4em;
            margin: 0 auto;
            display: block;
        }

        .caption {
            position: absolute;
            bottom: 0;
            color: gray;
            text-shadow: none;
            left: 0;
            padding: 0 2em;
            background-color: white;
        }
    }

    .mejs-container {
        position: absolute;
        left: 0;
        transform: scale(2);
        left: 25vw;
        bottom: 15px;
        z-index: 200;

        .mejs-controls {
            background: white;
            text-shadow: none;

            .mejs-time {
                color: lightgray;
            }

            .mejs-time-float {
                border: 0;
            }

            .mejs-time-rail {
                transform: scale(0.5);
            }

            .mejs-time-total {
                background: lightgray;
            }

            .mejs-time-loaded {
                background: #bbb;
            }

            .mejs-time-current {
                background: #888;
            }

            .mejs-horizontal-volume-total {
                background: lightgray;
            }

            .mejs-horizontal-volume-current {
                background: #888;
            }

            .mejs-volume-button button {
                background: none;
                position: relative;

                &:before {
                    content: "\f028"; // volume up icon
                    height: 16px;
                    width: 16px;
                    font-family: FontAwesome;
                    font-size: 18px;
                    position: absolute;
                    left: 0;
                    color: #bbb;
                }
            }

            .mejs-playpause-button {
                &.mejs-play button:before {
                    content: "\f04b"; // play icon
                }

                &.mejs-pause button:before {
                    content: "\f04c"; // pause icon
                }

                button {
                    background: none;
                    position: relative;

                    &:before {
                        height: 16px;
                        width: 16px;
                        font-family: FontAwesome;
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        color: #888;
                    }
                }
            }
        }
    }
}

.transcript {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2em 1em;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    display: none;
    overflow-y: auto;
    z-index: 50;

    &.visible {
        display: block;
    }

    br {
        line-height: 2.5;
    }

    p {
        max-width: 640px;
        margin: 0 auto;
        line-height: 1.5;
    }
}

#table-of-contents {
    background-color: white;
    color: $BROWN_DARK;
    text-shadow: none;
    padding: 10%;

    ul {
        list-style-type: none;
        font-size: 2em;
        margin: 0;
        padding: 0;

        li {
            padding: 0.5em 0;

            &.unreleased {
                a {
                    color: gray;
                    text-decoration: none;
                    cursor: default;
                }

                .chapter-number {
                    background-color: lightgray;
                }
            }
        }
    }

    ul, .description {
        width: 50%;
        float: left;
    }

    .description {
        font-style: italic;
    }
}

#mainsite-refer {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: white;
    padding: 0.5em 0.5em 0.25em;

    img {
        width: 100px;
    }
}

@media (max-width: 800px) {
    #table-of-contents {
        height: initial;

        ul, .description {
            width: 100%;
            float: none;
        }

        ul {
            font-size: 1.5em;
        }
    }

    .chapter {
        .intro {
            p {
                width: 100%;
            }
        }

        .story {
            height: 80vh;
        }
    }
}

@media (max-width: 480px) {
    header {
        h1 {
            font-size: 2.5em;
        }

        .authors {
            font-size: 0.8em;
        }
    }

    nav {
        display: none;
    }

    .chapter {
        h2 {
            font-size: 2em;
        }

        .story {
            height: 60vh;
        }
    }
}
