@import 'globals';
@import 'animate';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Hind', sans-serif;
    color: white;
    background-color: black;
    text-shadow: 0 0 2px black;
}

header, section, footer {
    box-shadow: 0 20px 20px -20px rgba(0,0,0, 0.5) inset;
}

header, #table-of-contents, .chapter .intro, .chapter .story {
    position: relative;
    height: 100vh;
}

header video, section video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.8;
}

header {
    text-align: center;

    h1 {
        font-size: 3.5em;
        padding-top: 25vh;
        margin: 0;
    }

    .authors {
        font-size: 1.2em;
    }

    .description {
        margin: 2em 0;
    }
}

nav {
    position: fixed;
    background-color: black;
    height: 100vh;
    padding: 4em 2em;
    display: none;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1.5em;

        li {
            padding: 0.5em 0;
        }
    }
}

button.view-transcript {
    font-size: 1em;
    background-color: rgba(0,0,0, 0.7);
    padding: 0.7em;
    color: white;
    border: 1px solid rgba(255,255,255, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0, 0.9);
        border-color: rgba(255,255,255, 0.9);
    }

    i {
        margin-right: 0.25em;
    }
}

.continue-arrow {
    font-size: 3em;
    line-height: 1;
    opacity: 0.5;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    animation: bounce 2s infinite;
}

.chapter {
    .intro {
        padding: 10% 5%;
    }

    h2 {
        font-size: 3em;
    }
}

#table-of-contents {
    background-color: $BROWN_LIGHT;
    color: $BROWN_DARK;
    text-shadow: none;
    padding: 10%;

    ul {
        list-style-type: square;
        font-size: 2em;
        margin: 0;
        padding: 0;

        li {
            padding: 0.5em 0;
        }
    }

    ul, .description {
        width: 50%;
        float: left;
    }
}
